.apply-custom-styles{
    background-color: #63b3ed;
    color: white;
}
.apply-custom-styles:hover{
    background-color: #2b6cb0;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline-item {
    margin-bottom: 20px;
    position: relative;
  }
  
  .timeline-item-left .timeline-panel {
    float: left;
    text-align: right;
    width: 46%;
  }
  
  .timeline-item-right .timeline-panel {
    float: right;
    text-align: left;
    width: 46%;
  }
  
  .timeline-item-left .timeline-panel:before {
    border-right-width: 0;
    border-left-width: 15px;
    right: -15px;
  }
  
  .timeline-item-right .timeline-panel:before {
    border-right-width: 15px;
    border-left-width: 0;
    left: -15px;
  }
  
  .timeline-badge {
    background-color: #805AD5;
    width: 30px;
    height: 30px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -17px;
    border-radius: 50% 50% 50% 50%;
    z-index: 100;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }  

  .timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
.height{
    height:400px;
}
.image-panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

}
.image-container{
    max-width: 450px;
    margin-bottom: 16px;
    padding: 2px;
}
.underline{
  text-decoration: underline;
  color: #2b6cb0;
}
.timeline-heading{
  font-size: 24px;
  text-align: center;
}
.timeline-heading  small{
  font-size: 16px;
}
.typewriter{
  margin-top: 10rem;
  margin-left: 10rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2.5rem;
}
@media only screen and (max-width:568px) {
  .typewriter{
    font-size: 1.5rem;
    margin-left: none;
    margin-bottom: 5rem;
  }
  
}
  .timeline-body{
    text-align: center;
  }
  .menu-container{
    position: relative;
    z-index: 100;
  }
  .menu{
    position: absolute;
    top: 75px;
    width: 125%;
    left:-25px;
    transition:max-height 2s;
    background-color: rgba(128,90,213,.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .list-menu > li{
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    margin-block: .5rem;
    color: white;
  }
  @media screen and (min-width:568px) {
    .main-manu-container{
      display:none
    }
    
  }